@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tenant-primary-color: #0F5499;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
  color: #4B4C4C;
  background: #F4F5F7;
}
